.headA{
    text-decoration: none;
    color:black;
    
}
.headA:hover{
    color:red;
}


.anchorA{
    color:red;
}

.anchorA:hover{
    color:black;
}

.anchorB{
    color:grey;
}

.anchorB:hover{
    color:black;
}